<!-- list.html -->
{% extends "main/base.html" %}
{% block title %}View List{% endblock %}
 
{% block content %}
	<h1>{{ls.name}}</h1>
	<form method="post" action="#">
		{% csrf_token %}
		<ul class="list-group">
			{% for item in ls.item_set.all %}
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<div class="input-group-text">
						{% if item.complete == True %}
							<input type="checkbox" value="clicked" name="c{{item.id}}" checked>
						{% else %}
							<input type="checkbox" value="clicked" name="c{{item.id}}">
						{% endif %}
					</div>
				</div>
				<!--<input type="text" value="{{item.text}}" class="form-control">-->
				{% if item.complete == True %}
					<li class="list-group-item list-group-item-success">{{item.text}}</li>
				{% else %}
					<li class="list-group-item list-group-item-light">{{item.text}}</li>
				{% endif %}
			</div>
			{% endfor %}
		</ul>
		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<button type="submit" name="newItem" value="newItem" class="btn btn-success">Add Item</button>
			</div>
			<input type="text" name="new">
		</div>
 
		<button type="submit" name="save" value="save" class="btn btn-success">Save</button>
		<button type="submit" name="remove_completed" value="remove_completed" class="btn btn-danger">Remove completed</button>
	</form>
{% endblock %}