<!--# view.html-->
{% extends "main/base.html" %}

{% block title %}
Raindata
{% endblock %}

{% block content %}
<h3 class="mt-2">Raindata by district</h3>
<p>Data imported from</p>
<p><a href="https://api.ipma.pt/" accesskey="h" ><img src="https://www.ipma.pt/opencms/system/modules/ipma.website/resources/images/logo-ipma-17-180x48.png" alt="Instituto Portugues do Mar e Atmosfera - Homepage" /></a></p>
<hr class="mt-0 mb-4">
    {% for district in districtList %}
        <h4 class="mt-2">{{district.capitalize}}</h3>
        <hr class="mt-0 mb-4">    
        <div class="list-group">
        {% for rt in allrt %}
            {% if rt.district == district %}
                <a href="/{{rt.district}}/{{rt.county}}" class="list-group-item list-group-item-action">{{rt.county.capitalize}}</a>
            {% endif %}        
        {% endfor %}
        <hr class="mt-0 mb-4"> 
        </div>
        {% endfor %}

{% endblock %}